# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build files
frontend/dist/
frontend/build/

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

.vercel
